.text-container {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    max-width: 600px;
    max-height: 600px;
    min-height: 600px;
    overflow: auto;
    padding:10px;
}

.me {
    color: white;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.me-actions{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    visibility: hidden;
}

.me-actions img{
    width: 40px;
    height: 40px;
}

.me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.other {
    display: flex;
    justify-content: flex-start;
    
}

.me-text {
    background-color: rgb(23, 166, 185);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.other div {
    background-color: rgb(240, 238, 238);
    padding:  5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.text-input {
    height: 40px;
    padding: 5px;
    width: 520px;
    font-size: 12pt;
    border: 2px solid rgb(218, 217, 217);
}

.send {
      border: 1px solid transparents;
      height: 30px;
      width: 40px;
      fill: rgb(23, 166, 185);
      cursor: pointer;
}


.container {
    display: flex;
}

.conversation-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    min-height:600px;
    min-width: 200px;
    background-color: white;
    color: white;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgba(128, 128, 128, 0.712); 
    padding-top: 5px; 
}

#conversation{
    min-width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    color: black;
    gap: 10px;
}

#conversation:hover{
   background-color:rgb(23, 166, 185);
   color: white;
}

.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 155px;
}
.notification div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: white;
    background-color: rgb(84, 177, 42);
}

.chat-username {
    font-size: 16pt;
    padding-left: 200px;
    display: flex;
    justify-items: center;
    text-align: center;
    background-color: white;
    max-width: 600px;
    gap: 250px;
}

b {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
}

.contact{
    display: block;
    max-width: 520px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 5px;
    font-size: 14pt;
    cursor: pointer;
    animation-duration: 0.2s;
}

.contact:hover{
    background-color:  rgb(23, 166, 185);;
    color: white;
}

.pro-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#transp{
    display: none;
}

.conct{
    border-radius: 5px;
  
    background-color: #bbe4e9;
    color: #5585b5;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 300px;
    cursor: pointer;
}

.contact img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.contact span{
    font-weight:bolder;
}

.conct-cont{
    position: absolute;
    background-color: white;
    padding: 2px 5px;
    top: 38px;
    left: 0px;
    width: 500px;
    z-index: 2;
    border: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    visibility: hidden;
}

.list-cont{
    padding: 15px;
}


.chatboxs{
    display: flex;
}



.receiver-action{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    border-top:1px solid rgba(128, 128, 128, 0.548)

}

.receiver-action img{
    width: 35px;
    height: 35px;
}
.receiver-action div{
    display:flex;
    align-items:center;
    gap:5px;
    cursor: pointer;
    width:fit-content;
}

#receiver-delete p{
    background-color:  #ff857cda;
    color:  #68222b; 
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}


#receiver-block p{
    background-color: #e3e3e3;
    color:  #233142;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}
#receiver-report p{
    background-color:   #e4f1fe;
    color:   #81bcf8;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
        
}

.action-desactive {
   background-color: black;
   width: 35px;
   height:35px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.action-active{
   background-color: white;
   border: 3px solid black;;
   width: 35px;
   height:35px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.receiver-type{
    padding: 10px;
}

#hide{
    visibility:hidden
}

.home-profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1PX solid black;
}

.home-topbar-profile{
    display: flex;
    gap: 10PX;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 166, 185);
    color:white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.about-logout {
    padding: 10px 15px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.about-logout:hover{
    background-color: white;
    color: rgb(23, 166, 185); 
}

.home-topbar-action{
    display: flex;
    gap: 10px;
}

.search{
    margin-bottom: 10px;
    position: relative;
}

.search-input{
    min-height: 40px;
    width: 500px;
    max-width: 500px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14pt;
    border:1px solid gray;
    outline: none;
    font-family:'Handlee',cursive; 

}

.search-clear{
    font-family: sans-serif;
    font-size: 16pt;
    position: absolute;
    top: 0px;
    right: 288px;
    padding: 0px 5px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border-top: 1px solid gray;
    border-left: 1px solid transparent;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    z-index: 1;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
}

.chat{
    border: 1px solid grey;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}

.chat-profile-user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-profile{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-profile-img{
    object-fit: cover;
    width:50px;
    height:50px;
    border-radius: 50%;
}


.chat-action{
    position: absolute;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    right: 10px;
    top: 75px;
    box-shadow: 2px 2px 8px 2px grey;
}

.chat-input-container{
    background-color: rgba(175, 174, 174, 0.185);
    padding: 5px;

    position: relative;
}

.text-form{
    display: flex;
    align-items: center;
    gap: 5px;
}

.names{
  font-size: 16pt;
  font-weight: bold;
}

.forward{
    width: 350px;
    background-color: transparent;
    font-weight: bolder;
}

.forward-container{
   border: 1px solid gray;
   border-radius: 15px;
   padding: 5px;
   background-color: white;
   height: 500px;
}

.forward-search{
    display: flex;
    gap: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
}

.forward-to{
    font-size: 16pt;
    display: inline;
    color: black;
    background-color: white;
}



.forward-results{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.forward-conversation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forward-conv-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding:5px;
}

.forward-conv-box:hover{
    background-color:rgba(23, 166, 185, 0.836);
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.conv-box{
    display: flex;
    align-items: center;
    gap:10px;
}

.conv-box img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.forward-input{
    padding: 5px 0px;
    font-size: 14pt;
    font-family:'Handlee',cursive;
    outline: none;
    border:transparent ;
}

.forward-contact{
    background-color: rgba(62, 239, 252, 0.226);
    color:rgb(23, 166, 185) ;
    position: relative;
    padding: 5px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    font-size: 12pt;
    animation-duration: 0.2s;
}

@keyframes shake {
  0%   { background-color: rgba(184, 83, 83, 0.514); color:#68222b; left: 0px ; left:5px; }
  25%  {left: 5px ; left:0px; }
  50%  {left: 0px ; left:5px; }
  75%  {left: 5px ; left:0px; }
  100% {left: 0px ; left:5px; }
}

.close{
    font-size: 10pt;
    margin-left: 10px;
    font-family: sans-serif;
    cursor: pointer;
    display: contents;
    color: #233142;
}

.forward-top-bar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.678);
    margin-bottom: 2px;
}

.send-able{
    color: rgb(49, 147, 204);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.send-able:hover{
    color: rgb(49, 147, 204);
    border: 1px solid rgb(49, 147, 204);
}

.send-able:active{
    background-color: rgb(49, 147, 204);
    border: 1px solid rgb(49, 147, 204);
    color: white;
}

.send-disable{
    color: rgb(175, 175, 175);
    cursor:not-allowed;
    padding: 2px;
    border: 1px solid transparent;
}


.forward-absolute{
    display: none;
}

.closeX{
  border: 1px solid transparent;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
  font-family: sans-serif;
  font-size: 16pt;
}

.closeX:hover{
  border: 1px solid black;  
  border-radius: 5px;
  cursor: pointer;
}
.closeX:active{
  border: 1px solid black;  
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}


.top{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 10;
}

#overlay{
    position: fixed;
    top: 0px;
    transform:  scale(0);
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 8;
    background-color: rgba(110, 110, 110, 0.575);
}

.chatwrappe-cover{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;  
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emoji-picture{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 35px;
}

.chat-reply-topbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#reply-close{
  font-family: sans-serif;
}

#replying{
  font-size: 14pt;
  font-weight: bolder;
}

.chat-reply{
    max-height: 100px;
    left: 0;
    right: 0;
    top: -60px;
    padding: 5px;
    background-color: rgba(233, 233, 233, 0.986);
    position: absolute;
}