.text-container {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    max-width: 600px;
    min-height: 600px;
}

.me {
    color: white;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.me div:hover ~ .me img{
    visibility: visible;
}

.me img{
    width: 40px;
    height: 40px;
    visibility: visible;
}

.other {
    display: flex;
    justify-content: flex-start;

}

.me div {
    background-color: rgb(25, 142, 219);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.other div {
    background-color: rgb(240, 238, 238);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.text {
    height: 40px;
    width: 520px;
    border: 2px solid rgb(218, 217, 217);
}

.send {
    padding: 10px 15px;
    margin-left: 5px;
    color: white;
    background-color: rgb(25, 142, 219);
    font-size: large;
    border: none;
    border-radius: 5px;
}

#conv {
    padding: 15px;
    border: 1px solid black;
    width: 200px;
    background-color: white;
    cursor: pointer;
}

#conv:hover {
    background-color: rgb(35, 100, 138);
    background-color: rgb(35, 100, 138);
    color: white;
}

.container {
    display: flex;

}

.conversation-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height:600px;
    min-width: 200px;
    background-color: white;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.712); 
    padding-top: 5px; 
}

.conversation{
    min-width: 200px;

    display: flex;
    margin-left: 5px;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    position: relative;
}

.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 155px;
}
.notification div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(113, 255, 47);
}

.username {
    font-size: 16pt;
    padding-left: 200px;
    display: flex;
    justify-items: center;
    text-align: center;
    background-color: white;
    max-width: 600px;
    gap: 250px;
}

b {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
}

.contact{
    display: block;
    max-width: 520px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.699);
    padding: 5px;
    font-size: 14pt;
    cursor: pointer;
}

.contact:hover{
    background-color: rgb(43, 126, 204);
    color: white;
}

.pro-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#transp{
    display: none;
}

.conct{
    border-radius: 5px;
    background-color: #bbe4e9;
    color: #5585b5;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 300px;
    cursor: pointer;
}

.list-cont{
    padding: 15px;
}


.chatboxs{
    display: flex;
}

.receiver-info h3{
   background-color: black;
   width: 35px;
   height:35px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.receiver-action{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    border:1px solid rgba(128, 128, 128, 0.548)

}

#receiver-delete p{
    background-color:  #ff857cda;
    color:  #68222b; 
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}
#receiver-block p{
    background-color: #e3e3e3;
    color:  #233142;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
}
#receiver-report p{
    background-color:   #e4f1fe;
    color:   #81bcf8;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
        
}

.receiver-name{
    padding: 10px;
    
}

.hide{
    visibility:hidden
}