.home-post{
    display: flex;
    background-color: white;
    border: 1px solid rgba(202, 201, 201, 0.787);
}

.right-side {
    background-color: black;
}

.right-side img{
  width:40rem;
  height:50rem;
  object-fit: contain;
}

.home-container{
    width: 50%;
    height: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-bar{
    background-color: rgba(255, 255, 255, 0.815);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 194, 194) ;
    
}

.text{
    font-size: large;
    font-weight:bolder;
    color: rgba(0, 0, 0, 0.849);
}

.comment-container{
    padding: 10px;
    display: flex;
    gap: 10px;
}

.comment-container img{
    width: 20px;
    height: 20px;
}


.viewed{
    width: 40px;
    height: 40px;
    border: 3px solid rgb(13, 101, 160);
    border-radius: 50%;
    padding: 2px;
}

.viewed img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.home-action-button{
    background-color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(195, 182, 182, 0.65);  
}

.like-share{
   display: flex;
   align-items: center;
}

.like-share img{
    width: 30px;
    height: 30px;
}

.collection img{
    width: 30px;
    height: 30px;
}

.comment-section{
    background-color: white;
    padding: 0px 10px;
    gap: 5px;
    display: flex;
}

.comment p{
    font-size: 13pt;
    font-weight:bold;
    color: rgba(0, 0, 0, 0.808);
}

.comment {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(226, 224, 224, 0.733);
}

.post-button{
    padding: 10px 20px;
    font-size: medium;
    height: 50px;
    color: white;
    background-color: rgb(24, 120, 209);
    border:none;
    border-radius: 10px;
}

textarea{
    width: 100%;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(200, 200, 200);
}

.home-post-comment{
    position: relative;
    width: 100%;
    height: 75%;
}

.sub-likes{
    padding: 0px 10px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.733);
}



.like-button{
   width:35px;
   height:35px;
}

.active{
    fill: white;
    stroke: black;
    stroke-width: 5px;
}

.finger-comment{
    width:20px;
    height: 20px;
    fill: white;
    stroke: black;
    stroke-width: 5px;
}

