.nav-container{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    justify-items: center;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom:1px solid rgba(128, 128, 128, 0.233) ;
}


.logo img{
    width: 30px;
    height: 30px;
}

.logo{
    background-color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.appName{
    font-family:"Sofia",sans-serif; 
    font-size:xx-large;
}

.navigation img {
    width: 30px;
    height: 30px;
}

.navigation{
    background-color: white;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 100px ;
    
}

.profile-picture img{
  width: 30px;
  height:30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-picture {
    border: 3px solid black;
    padding: 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

