*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p{
  font-size:x-large;
  color: black;
}





img, button:hover{
   cursor: pointer;
}
.centered{
  display: flex;
  justify-content: center;
  float:inline-start;
  gap: 10px;
}

